@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

html, body {
    margin: 0;
    background:linear-gradient(to right,#0f0c29,#302b63,#24243e);
}

.LandingPage{
    font-family: 'Libre Baskerville', serif;
    background: #282c34;
    background: url(./Project1/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 92vw;
    height: 89vh;
    color: whitesmoke;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    
}

.List, a  {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    
}
